@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style:none;
}

a {
  text-decoration: none;
}

body{
  background: #ffffff;
  color:#222328;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  margin: 0 auto;
  width: 1200px;
  height: 700px;
}
/* 헤더 시작 width 1200px(200/ 400/ 600), height 100px */
header {
  width: 100%;
  height: 100px;
  background-color: blue;
}

.logo {
  float: left;
  width: 200px;
  height: 100px;
  background-color: indigo;
}

.mainMenu {

}

nav {
  float: right;
  width: 600px;
  height: 100px;
  background-color: antiquewhite;
}
/* 헤더 끝 */
/* 이미지 슬라이드 시작 width 1200px, height 300px */
.imgSlide {
  clear: both;
  width: 100%;
  height: 300px;
  background-color: aqua;
}
/* 이미지 슬라이드 끝 */
/* 컨텐츠 묶음 시작 width 1200px(400px /400px /400px), height 200px */
.contents {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  color: rgb(116, 10, 192);
}
/* 컨텐츠 1: 탭메뉴 */
.tabMenu {
  float: left;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
}
.tabMenu input[type="radio"]{
  display: none;
}
.tabMenu label {
  float: left;
  height: 5px;
  display: inline-block;
  padding: 15px 25px;
  line-height: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  background-color: rgb(0, 0, 0, 0.1);
}
.tabMenu label:hover {
  background-color: #fff
}
.tabMenu input:checked + label {
  background-color: #fff;
  font-weight: 600;
}
.tabContent {
  width: 400px;
  height: 160px;
  clear: left;
  display: none;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-sizing: border-box;
}
/* 공지사항 해당 부분 */
#notice ul{
  list-style: disc;
  padding-left: 5px;
}
#notice ul li {
  line-height: 2.5;
  padding-left: 20px;
  font-size: 14px;
}
#notice ul li span{
  float: right;
  padding-right: 20px;
}
#notice ul li:hover {
  background-color: beige;
}
/* 갤러리 해당부분 */
#gallery ul li {
  display: inline;
}
#list2, #list4{
  background-color: rgb(245, 238, 250);
}
#gallery ul {
  padding-top: 10px;
}

#gallery img {
  margin: 15px;
}

#gallery img:hover {
  color: rgb(0, 0, 0, 0.5);
}

#tab1:checked ~ #notice,
#tab2:checked ~ #gallery {
  display: block;
}

/* 컨텐츠 2: 배너 */
#banner {
  position: relative;
  float: left;
  width: 400px;
  height: 200px;
}

#banner img {
  position: absolute;
  left: 10px;
  width: 390px;
  height: 200px;
}
/* 컨텐츠 3: 바로가기 */
#direct {
  position: relative;
  float: right;
  width: 400px;
  height: 200px;
}

#direct img {
  position: absolute;
  left: 10px;
  width: 390px;
  height: 200px;
}

.img_a > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 1000;
  background-color: rgb(116, 10, 192, 0.5);
  width: 150px;
  height: 50px;
}

.img_a > a:hover {
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
}

.img_a > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 컨텐츠 끝 */
/* footer 시작 width 1200px (대략 200/ 800/ 200), height 100px */
footer {
  width: 100%;
  height: 100px;
  background-color: brown;
}

/* css 내용 작성 */